body {
    position: relative;
    background-image: url(./imge/main_bg.png);
    background-color: #f5f5f5;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

.top-bar span {
    color: #2eca7f;
}

.title span {
    padding-left: 10px;
}

.bottom-left span {
    color: #2eca7f;
    padding-left: 10px;
}

h1 span {
    color: white;
}

.top-bar {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}

.top-barchange {
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    height: 70px;
    z-index: 1;
}

.top-bar .top-content {
    max-width: 1032px;
    margin: 0 auto;
}

.top-bar .top-content .head-name {
    position: relative;
    float: left;
    text-align: center;
    margin: 30px 0;
}

.top-bar .top-content .head-name .title {
    color: #49515d;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Montserrat', Helvetica, sans-serif;
    line-height: 1;
}

.top-bar .top-content .nav-bar {
    position: relative;
    float: right;
}

.top-bar .top-content .nav-bar ul {
    display: block;
    padding-right: 30px;
    margin: 40px 30px;
}

.top-bar .top-content .nav-bar ul a {
    text-decoration: none;
    position: relative;
    color: #49515d;
    transition: all 0.15s ease-in-out;
}

.top-bar .top-content .nav-bar ul a:hover {
    color: black;
    font-size: 20px;
}

.top-bar .top-content .nav-bar ul li {
    display: inline;
    padding-left: 30px;
    text-align: center;
    font-size: 15px;
}

.top-bar .nav-bar ul li a::after {
    display: block;
    content: '';
    height: 2px;
    width: 0px;
    transition: all 0.15s ease-in-out;
    background-color: #2eca7f;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.top-bar .nav-bar ul li a:hover::after {
    width: 30px;
}


/* .top-bar .top-content .nav-bar ul li a:hover{
  font-size: 18px;
} */

.mainpage {
    width: 100%;
    padding-top: 120px;
}

.card {
    height: auto;
    max-width: 1032px;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
    animation: myMove 1s;
}

.card .card-top {
    padding: 30px;
    background-color: #2eca7f;
    background-image: url(./imge/main_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imge-wrapper img {
    height: auto;
    max-width: 100%;
    height: 280px;
    max-width: 280px;
    border: 3px solid #fff;
    box-shadow: 0px 3px 8px 0px;
    margin-bottom: -50px;
    margin-left: 20px;
    transition: all 0.5s ease-in-out;
}

.imge-wrapper :hover {
    transform: translateY(-10px);
    box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
}

.title-info {
    text-align: center;
}

.title-info h1 {
    color: #fff;
    font-size: 54px;
    font-weight: 700;
    margin: 30px 0 0;
}

.title-info span {
    padding-left: 10px;
}

.title-info p {
    color: #fff;
    font-size: 20px;
    margin: 20px 20px;
}

.icon {
    text-align: center;
    margin-top: 20px;
}

.fa {
    width: 50px;
    text-align: center;
    background-color: white;
    border-radius: 24px;
    height: 50px;
    box-shadow: 0px 3px 8px 0px;
    color: #9e9e9e;
    line-height: 50px;
    opacity: 0.5;
}

.fa:hover {
    opacity: 1;
}

.card-bottom {
    padding: 30px;
}

.bottom-left {
    margin-left: 10px;
    display: inline-block;
    text-align: left;
}

.bottom-left p {
    font-size: 15px;
    margin: 0 0 10px;
    font-weight: 400;
    height: 100px;
    overflow: scroll;
}

.info-left {
    margin-top: 30px;
}

.info-left ul {
    list-style: none;
}

.info-left li {
    margin: 6px 0;
    text-align: left;
}

.info-left ul li .title {
    display: inline-block;
    min-width: 120px;
}

.info-left ul li .info {
    display: inline-block;
    color: #9e9e9e;
}

.footer {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.collapse {
    margin-left: 50%;
}

.client-blockimg {
    width: 100%;
}

.client-block {
    width: 100px;
}

.service-info {
    width: 50px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-top: 10px;
}

.info {
    color: #9e9e9e;
    padding-left: 10px;
}

.name {
    width: 120px;
    display: inline-block;
}

.timeline {
    border-left: 2px solid #e0e0e0;
    padding: 15px 0;
}

.timeline-item {
    position: relative;
    padding: 15px 20px 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-left: 2px solid #2eca7f;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.timeline-item:before {
    content: '';
    display: inline-block;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    width: 12px;
    height: 12px;
    top: 20px;
    left: -29px;
    border: 2px solid #2eca7f;
    z-index: 2;
}

.timeline-item:after {
    content: '';
    display: inline-block;
    position: absolute;
    background-color: #2eca7f;
    border-radius: 10px;
    width: 29px;
    height: 2px;
    top: 25px;
    left: -29px;
    z-index: 1;
}

.block {
    padding-left: 50px;
}

.skill-container {
    border: 1px solid #e0e0e0;
    height: 12px;
}

.skill-percentage {
    background: #2eca7f;
    height: 10px;
}

.skill-percentage.skill-1 {
    width: 80%;
}

.skill-percentage.skill-2 {
    width: 75%;
}

.skill-percentage.skill-3 {
    width: 90%;
}

.row-container {
    margin-bottom: 10px;
}

.col-item {
    text-align: center;
}

.imgeEdit {
    width: 400px;
    height: 200px;
}

img {
    width: 100%;
    height: 100%;
}

.map {
    border: 1px solid black;
    background-color: rgb(229, 227, 223);
    width: 300px;
    height: 300px;
}

.input-group {
    position: relative;
    margin: 20px 0 40px 0;
    text-align: center;
    border-bottom: 1px solid #dddddd;
    background: transparent;
    transition: all 0.3s ease-in-out;
}

.input-group label {
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 52px;
    color: #424242;
    opacity: 0.4;
    font-size: 0.9em;
}

.input-group i {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    background-color: #fafafa;
    color: #bdbdbd;
    font-size: 1.2em;
    line-height: 2em;
}

.input-control {
    border: none;
    width: 90%;
    padding: 10px 0 10px 12px;
    margin-left: 40px;
}

.btn-message {
    color: #ffffff;
    font-weight: bold;
    border: none;
    background: #2eca7f;
    padding: 12px 16px;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
}

.test:hover {
    box-shadow: 5px 5px 10px 8px rgba(0, 0, 0, 0.2);
}

.row-control {
    padding-top: 10px;
}

h5 {
    font-size: 0.9rem
}

.editInfo {
    padding-top: 10px
}

.display {
    display: block;
    animation: myMove 1s;
}

.non-display {
    display: none;
    transition: all 3s ease-in-out;
}

@keyframes myMove {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

.h1Fix {
    margin: 0 auto;
    color: white
}

#loader1 {
    margin: 200px auto;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

#loader2 {
    margin: 200px auto;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #0a0b0b;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}